# Misc Options
bin/
build/
bundle/
dist/
DOC/
INSTALLER/
setup/
src/example/
*.log
meerkat.properties
meerkat.webapps.xml
pom.xml

# ORA jdbc driver
ojdbc*.jar

# Temp files
*.*~

# Eclipse Options
# .classpath
# .project
.settings

# ---- Mac OS X
.DS_Store?
Icon?
# Thumbnails
._*

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
